.Rproj.user
.Rhistory
.RData
*.Rproj
.Ruserdata
.Rprofile
.Rapp.history
.Renviron

.DS_Store

.secrets/*
.httr-oauth
docs
inst/extdata/cached-secrets/*
testthat-problems.rds
inst/doc
local_auth_2.R
local_auth.R